@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Zilla+Slab&display=swap");
/* @import url("https://use.typekit.net/lex6zgy.css"); */
img {
  width: 100%;
}

body{
  padding-top: 96px;
}

p {
  font-family: "Zilla Slab", sans-serif;
  font-size: 24px;
}

a {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #2e077d;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
}
h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 52px;
  font-weight: 700;
}

.text-container {
  text-align: left;
  /* padding: 20px; */
}

.row {
  padding: 50px 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dark-font {
  color: #2e077d;
}

.light-font {
  color: #f8f8f8;
}

.navbar {
  background-color: #ff7f5c;
  width: 100%;
  position: fixed;
  top: 0%;
}

.navbar ul {
  width: 100%;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.section_gettingStarted {
  background-color: #cdcdcd;
}

.section_gettingStarted img {
  position: absolute;
  top: 80px;
  right: 0;
  width: auto;

  max-height: 300px;
}

.section_gettingStarted button {
  background-color: transparent;
  border-radius: 42px;
  border: 3px solid #2e077d;
  display: inline-block;
  cursor: pointer;
  color: #2e077d;
  font-weight: 600;
  font-size: 24px;
  padding: 13px 31px;
  text-decoration: none;
  font-family: "zilla slab", sans-serif;
}

.section_tryitout{
  background: url("./images/background\ 2.png") no-repeat;
  background-size: cover;
}

.section_tryitout img{
  max-height: 300px;
  width: auto;
}

.section_active_users {
  background: url("./images/Vector.png") left no-repeat #ff7f5c;
  background-size: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_step1,
.section_step2,
.section_step3,
.section_step4 {
  background-color: #72cec1;
}

.step-header {
  font-size: 32px;
  font-family: "Nunito Sans", sans-serif;
}

.section_letsgo {
  background: #ff7f5c;
}

.section_letsgo button {
  background-color: #fff;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #2e077d;
  font-weight: 600;
  font-size: 24px;
  padding: 13px 31px;
  text-decoration: none;
  font-family: "zilla slab", sans-serif;
  width: auto !important;
  border: none;
}

.section_letsgo .row {
  display: flex;
  flex-direction: column;
}

.section_form{
  background: url("/images/background.png") no-repeat;
  background-size: cover;
}

.section_form input{
  background: none;
  border: 4px solid #2e077d;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px 15px;
  font-family: "work sans", sans-serif;
  font-weight: 600;
  color: 
  rgba(46, 11, 146, 0.36);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.section_form .enquiry-form{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}
.section_form .enquiry-form .name-input{
  grid-column: 1 / span 5;
  grid-row: 1;
}

.section_form .enquiry-form .num-input{
  grid-column: 4 / span 2;
  grid-row: 2;
}

.section_form .enquiry-form .email-input{
  grid-column: 1 / span 3;
  grid-row: 2;
}
.section_form .enquiry-form .enquiry-input{
  grid-column: 1 / -1;
  grid-row: 3/5;
}
.section_form button{
  border: none;
  background-color: #2e077d;
  color: #FFDA93;
  font-family: 'Work Sans', sans-serif;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 25px;
  grid-column: 4 / 6;
  grid-row: 5;
}

.section_form .contact-email img, 
.section_form .contact-address img{
  height: auto;
  width: auto;
  padding: 5px;
}

.contact-address, .contact-email{
  display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.contact-email{
  padding-bottom: 50px;
}

.contact-address p, .contact-email a {
  font-size: 24px;
  font-weight: 600;
  font-family: "work sans", sans-serif;
  color:#2e077d;
}


.section_form h3{
  text-align: center;
  padding-top: 20px;
}
